@tailwind base;
@tailwind components;
@tailwind utilities;

.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.quicksand-bold {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.oswald {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.oswald-bold {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-neutral-900 rounded-lg;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-accent-1 rounded-lg hover:bg-accent-3;
  }